/* Fonts */
@font-face {
    font-family: 'Pristina';
    src: url(../fonts/PRISTINA.TTF);
}
@font-face {
    font-family: 'Clarendon';
    src: url(../fonts/Clrndnc.ttf);
}
@font-face {
    font-family: 'Source Serif';
    src: url(../fonts/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Monotype Corsiva';
    src: url(../fonts/Monotype-Corsiva-Regular.ttf);
}

/* Background Image */
.body {
    background-color: #aaaaaa;
}
.bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: -1;
}