/* Fonts */
@font-face {
    font-family: 'Pristina';
    src: url(../fonts/PRISTINA.TTF);
}
@font-face {
    font-family: 'Clarendon';
    src: url(../fonts/Clrndnc.ttf);
}
@font-face {
    font-family: 'Source Serif';
    src: url(../fonts/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'Monotype Corsiva';
    src: url(../fonts/Monotype-Corsiva-Regular.ttf);
}

/* Background Image */
.body {
    background-color: #aaaaaa;
}
.bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: -1;
}

.big-text {
    font-family: 'Pristina';
    font-size: 48pt;
    color: white;
    text-align: right;
    line-height: 40px;
    position: fixed;
}
.small-text {
    font-family: 'Source Serif';
    font-size: 24pt;
    color: white;
    text-align: right;
    line-height: 40px;
    position: fixed;
}
.smaller-text {
    font-family: 'Source Serif';
    font-size: 18pt;
    color: white;
    text-align: center;
    line-height: 40px;
    position: fixed;
}

#up-next-runner {
    width: 500px;
    height: 75px;
    left: 1150px;
    top: 240px;
    transform: rotate(-2deg);
}
#up-next-game {
    width: 500px;
    height: 75px;
    left: 1150px;
    top: 340px;
    transform: rotate(-2deg);
}
#up-next-estimate {
    width: 500px;
    height: 75px;
    left: 1150px;
    top: 460px;
}

#on-deck-runner {
    width: 500px;
    height: 75px;
    left: 1150px;
    top: 640px;
    transform: rotate(-2deg);
}
#on-deck-game {
    width: 500px;
    height: 75px;
    left: 1150px;
    top: 740px;
    transform: rotate(-2deg);
}

#clock {
    width: 300px;
    height: 40px;
    left: 525px;
    top: 128px;
    transform: rotate(4deg);
}